@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;

    height: 100vh;
    flex-direction: column;
    background: linear-gradient(240.84deg, #B82D2D 24.74%, #C04E4E 97.11%);
}

header {
    display: flex;
    justify-content: center;
}

header #secBar {
    margin-top: 40px;
    margin-right: 70px;
}

header #secbar,
a {
    text-decoration: none;
    color: white;
    border-right: 1px 2px solid white;
    width: 30px;
    font-size: 20px;
}

nav {
    display: none;
}

#menu,
#menu-bar {
    justify-self: flex-end;
    margin-left: auto;
    margin-top: 30px;
    margin-right: 10px;
}

header h1 {
    color: white;
    text-shadow: 1px 2px #830101;
    font-weight: bolder;
    margin-left: 70px;
    font-size: 40px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(255, 253, 227);
    font-family: 'Poppins', sans-serif;
}


/*  */
#container {
    margin: auto;
}

#div-erro {
    background-color: firebrick;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    display: none;
}

#area-mapa  {
    display: none;
    
    
}

#graficoPizza {
    display: none;
    width: 400px;
    height: 300px;
    margin-left: 35px;
}

.tablink {
    background-color: #fbfbfb;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border: none;
    border-radius: 3px;
    margin: 10px;
    margin-left: 40px;
    cursor: pointer;
    padding: 14px 28px;
    font-size: 17px;

}

/* Change background color of buttons on hover */
.tablink:hover {
    background-color: #4d1815;
    color: white;
    letter-spacing: 1px;
}

/* Set default styles for tab content */
.tabConteudo {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}

/* Style each tab content individually */
th {
    background-color: rgb(118, 9, 9);
    color: white;
    border-radius: 10px;
    border: none;
    padding: 2px 10px;
}

tr {
    color: white;
}

.listra {
    background-color: rgb(231, 157, 154);

}

#tabela {
    display: none;
    margin-left: auto;
}

footer {
    margin-top: auto;
    background-color: #e9e7e8;
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    header h1 {
        margin: 0 1;
    }

    header nav {
        margin-left: 74px;
        margin-top: 0;
    }

    header #secbar,
    a {
        display: none;
    }

    #menu-bar {
        cursor: pointer;
        margin: 4px;
        margin-left: 0;
        justify-self: flex-end;
    }

    .bar {
        width: 35px;
        height: 5px;
        background-color: #ffffff;
        margin: 6px 0;
        border-radius: 4px;


    }

    nav a {
        display: flex;
        flex-direction: column;
        color: rgb(255, 255, 255);

        padding: 15px;

        width: 110px;
    }

    nav a:hover {
        display: flex;
        flex-direction: column;
        color: #bdbdbd;
        justify-self: flex-end;
        letter-spacing: 1.3px;
    }

    #nav {
        font-weight: bold;
        display: none;
        justify-self: flex-end;
    }

    nav a {
        text-decoration: none;

    }

    #bar1 {
        transform: translateY(-4px);
        margin: auto;
    }

    #bar3 {
        transform: translateY(4px);
        margin: auto;
    }

    .change {
        display: block;
    }

    .change .bar {
        background-color: rgb(255, 255, 255);

    }

    .change #bar1 {
        transform: translate(0, 11px) rotate(-45deg);
    }

    .change #bar2 {
        opacity: 0;
    }

    .change #bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }

    .change-bg {
        width: 240px;
        height: 859px;
        transform: translate(-60%, -30%);
    }




    #container button {
        margin: auto;
    }

    #area-mapa {
        position: relative;
        width: 384px;
        height: 347px;
        overflow: hidden;
    }

    #graficoPizza {
        width: 80%;
        margin: 0;
    }

    #tabela {
        font-size: 10px;
        margin: 0;
    }


}